Esercitazioni/ese9_facsimile_esame/DTD_ese5.dtd

<!DOCTYPE r[
	<!ELEMENT r ((t,x)|(s,y))+>
	<!ELEMENT s (y,u)+>
	<!ELEMENT t (x,v)>
	<!ELEMENT u ((t|s|v)?,((r|x|y)+,y)*)>
	<!ELEMENT v ((u|x)+,(x|y)+,(y|u)+)>
	<!ELEMENT x (#PCDATA|t|x)*>
	<!ELEMENT y (EMPTY)>
	<!ATTLIST u 
		attru CDATA #IMPLIED>
	<!ATTLIST v 
		attrv CDATA #REQUIRED
		attrvv CDATA #IMPLIED>
]>
