Vecchi esami/10Luglio2017/DTD_ese3.dtd

<!DOCTYPE r[
	<!ELEMENT r ((b,d)|(c,(d,e)*,f),f)>
	<!ELEMENT b ANY>
	<!ELEMENT c (((b,c)|(d,(e,f)*)),(g,g))>
	<!ELEMENT d (d?,(a|e*),f+,(b,c)*,g))>
	<!ELEMENT e (#PCDATA,d,e)*>
	<!ELEMENT f EMPTY>
	<!ELEMENT g #PCDATA>
	<!ATTLIST c 
		attr CDATA #REQUIRED
		attrc CDATA #REQUIRED>
	<!ATTLIST f 
		attrf CDATA #REQUIRED>
]>
