Esercitazioni/ese7-xml/DTD_esercizio3.dtd

<!DOCTYPE a[
	<!ELEMENT a (b, c, (d | a))*>
	<!ELEMENT b (#PCDATA | b)>
	<!ELEMENT c (a | b*)>
	<!ELEMENT d (#PCDATA | a)*>
	<!ATTLIST a val CDATA #REQUIRED>
	<!ATTLIST b val CDATA #IMPLIED>
	<!ATTLIST c link CDATA #REQUIRED>
]>

<!--questa DTD non è corretta in quanto il content model dell'elemento b è errato,
	la DTD corretta è nel file DTD_esercizio3_corretta.dtd-->
